a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

nav {
  padding: 1rem;
  text-align: center;
}

h1,
h2 {
  color: chartreuse;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 3rem 0;
}

h1 {
  font-size: 16rem;
}

h2 {
  font-size: 8rem;
}

thead {
  font-size: 1.5rem;
  background-color: aliceblue;
  color: limegreen;
}

tbody {
  font-size: 1rem;
  background-color: rgb(255, 17, 164);
  color: chartreuse;
}

nav,
.day {
  background-color: rgb(255, 112, 52);
}

.weekly-planner {
  font-size: 3rem;
  font-weight: 600;
}

.days-of-the-week {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.days-of-the-week,
.nav-bar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
}

.day {
  outline: 1px solid black;
  padding: 0.5rem 0;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day:hover {
  cursor: pointer;
}

.content-day {
  font-size: 5rem;
}

.add-entry {
  font-size: 3rem;
  color: chartreuse;
  background-color: rgb(39, 39, 39);
  border-style: solid;
  padding: 2rem;
  border-radius: 50%;
}

.day-view-header {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-2r {
  gap: 2rem;
}

.m-0 {
  margin: 0;
}

.table-layout {
  width: 100%;
}

th,
td {
  width: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
}

th {
  font-size: 2rem;
}

td:nth-child(even) {
  width: 30rem;
}

.mt-2r {
  margin-top: 2rem;
}

table tr:last-child td:first-child {
  border: 10px solid rgb(255, 17, 164);
  border-bottom-left-radius: 50px;
}

table tr:last-child td:last-child {
  border: 10px solid rgb(255, 17, 164);
  border-bottom-right-radius: 50px;
}

.entry-modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-modal {
  background-color: white;
  width: 50rem;
  height: 25rem;
  border-radius: 50%;
  padding: 1rem;
}

.modal-text {
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
}

button {
  border-radius: 50%;
  color: darkorchid;
  height: 10rem;
  width: 14rem;
  background-color: sandybrown;
  font-size: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.pl-5r {
  padding-left: 5rem;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  background-color: rgb(114, 20, 34);
  color: rgb(217, 80, 48);
  border-radius: 50%;
  padding: 3rem;
  box-sizing: border-box;
}

input[type="time"]::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

/* Minute */
input[type="time"]::-webkit-datetime-edit-minute-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

/* AM/PM */
input[type="time"]::-webkit-datetime-edit-ampm-field {
  background-color: #7155d3;
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px;
}

input[type="time"] {
  width: 70%;
  text-align: center;
  margin-left: auto;
}
